src/main/mule/circleci.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="13a33b2f-ed66-44f5-813f-c18d9b064d50" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="circleciFlow" doc:id="99713332-1c1b-44b5-9405-47ea44253d36" >
		<http:listener doc:name="Listener" doc:id="a91e0f7d-a31f-4b1a-b4ef-5bed0d51c59b" config-ref="HTTP_Listener_config" path="/test-circle-ci"/>
		<set-payload value='#["CIRCLE CI"]' doc:name="Set Payload" doc:id="67027d69-dcf5-4343-b94d-530d27f804a9" />
		<logger level="INFO" doc:name="Logger" doc:id="44aee2d3-26b1-404f-b01b-68b428fc9dcc" message="#[payload]"/>
	</flow>
</mule>
